* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 60px;
  margin-left: 4rem;
  margin-right: 1rem;
}
.main-heading {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
}
.heading {
  display: flex;
  padding: 0.5rem;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #000),
    url("/public/images/background.jpg");

  background-size: cover;
  background-color: #424242;
  margin-bottom: 50px;
  color: #f0f8ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: end;
}
.navbar a {
  text-decoration: none;
  color: #62a7f1;
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar li {
  padding: 1rem;
}
.iconss {
  list-style: none;
}
.theHome {
  max-width: 40%;
  padding-top: 4rem;

  margin-left: 4rem;
}
.base {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.home li {
  line-height: 2rem;
  margin-left: -2.5rem;
}
.others {
  line-height: 2rem;
  padding-top: 3rem;
}
.registration {
  background-color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  padding: 2rem;
}
input {
  margin-bottom: 2rem;
  padding: 1rem;
  /* border-radius: 5%; */
  box-shadow: #424242;
}
.firstname {
  margin-right: 1.5rem;
}
.lastname {
  width: 180px;
}
.email,
.mobile {
  width: 90%;
}
.registration p {
  color: #000;
  font-size: 1.2rem;
}
.submit {
  width: 98%;
  padding: 1rem;
  background-color: #007bff;
  color: #ffffff;
}
.show-links {
  height: 400px;
}
.navbar button {
  cursor: pointer;
}
.wait {
  max-width: 700px;
  border: 1px solid #ee12df;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  justify-content: center; */
  align-items: center;
}
